.profile-picture {
  width: 200px;
  margin-top: 20px
}

.profile-information {
  display:flex;
  flex-direction: column;
  justify-content: left;
  margin: 20px;
}

.profile-information-category {
  text-align: left;
  margin-top: 5px;
  font-size: 0.7rem

}

.profile-information-content {
  text-align: left;
  padding: 0 5px;
  border: 2px solid #F87171;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #F87171;
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7%;
}

.button-text {
  text-decoration: none;
  color: #374151;
  font-size: 0.7rem
}

.profile-information-content-update {
  text-align: left;
  padding: 0 5px;
  background-color: #E5E7EB;
  border: none;

}

